{% load static i18n compress %}<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}Kaschingo{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block css %}

      <!-- Your stuff: Third-party CSS libraries go here -->
        {% compress css %}
          <!-- This file stores project-specific CSS -->

          <link href="{% static 'vendor/bootstrap-4.3.1-dist/css/bootstrap.min.css' %}" rel="stylesheet">

          <link href="{% static 'css/project.css' %}" rel="stylesheet">

        {% endcompress %}
    {% endblock %}

</head>

<body>

<div class="mb-1">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Kaschingo</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>

</div>

<div class="container">

    {% if messages %}
        {% for message in messages %}
          <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
          </div>
        {% endfor %}
    {% endif %}

    {% block content %}
      <p>Use this document as a way to quick start any new project.</p>
    {% endblock content %}

</div> <!-- /container -->

{% block modal %}{% endblock modal %}

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block javascript %}

  <!-- Your stuff: Third-party javascript libraries go here -->


  <!-- place project specific Javascript in this file -->
    {% compress js %}
      <script src="{% static 'vendor/jquery-3.4.1-dist/js/jquery.min.js' %}"></script>
      <script src="{% static 'vendor/popper.js-1.16.0-dist/js/popper.min.js' %}"></script>
      <script src="{% static 'vendor/bootstrap-4.3.1-dist/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/project.js' %}"></script>
    {% endcompress %}

{% endblock javascript %}
</body>
</html>

